/*
 * OCDMK Default Keymap
 * 7×4 split keyboard (14 columns total)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/backlight.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* 44 keys: 5 + 7 + 7 + 3 per side */
            bindings = <
                        &kp N1    &kp N2    &kp N3    &kp N4    &kp N5         &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
                &kp TAB &kp Q     &kp W     &kp E     &kp R     &kp T  &kp ESC &kp BSPC  &kp Y     &kp U     &kp I     &kp O     &kp P     &kp MINUS
                &kp CAPS &kp A    &kp S     &kp D     &kp F     &kp G  &kp LBKT &kp RBKT &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
                &kp LSHFT &kp Z   &kp X                                                                     &kp SLASH &kp RSHFT &mo 1
            >;
        };

        lower_layer {
            bindings = <
                        &kp F1    &kp F2    &kp F3    &kp F4    &kp F5         &kp F6    &kp F7    &kp F8    &kp F9    &kp F10
                &trans  &trans    &trans    &trans    &trans    &trans &trans  &trans    &trans    &trans    &trans    &trans    &trans    &kp F11
                &bl BL_TOG &bl BL_INC &bl BL_DEC &trans &trans  &trans &trans  &trans    &trans    &trans    &trans    &trans    &trans    &kp F12
                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1                                                        &kp PG_UP &kp PG_DN &trans
            >;
        };
    };
};
