# OCDMK Core Board Default Configuration
# Copyright (c) 2024 OCDMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_OCDMK_CORE

config ZMK_KEYBOARD_NAME
    default "OCDMK"

config USB_DEVICE_PRODUCT
    default "OCDMK Core"

config USB_DEVICE_VID
    default 0x1D50

config USB_DEVICE_PID
    default 0x615E

config USB_DEVICE_MANUFACTURER
    default "OCDMK"

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT

if OCDMK_DEBUG

config DEBUG
    default y

config DEBUG_INFO
    default y

config LOG
    default y

config USE_SEGGER_RTT
    default y

config LOG_BACKEND_RTT
    default y

config LOG_BACKEND_UART
    default n

config LOG_PRINTK
    default n

config SEGGER_RTT_BUFFER_SIZE_UP
    default 8096

choice SEGGER_RTT_MODE
    default SEGGER_RTT_MODE_BLOCK_IF_FIFO_FULL
endchoice

config LOG_BUFFER_SIZE
    default 2048

config STACK_SENTINEL
    default y

config THREAD_STACK_INFO
    default y

endif # OCDMK_DEBUG

endif # BOARD_OCDMK_CORE

